body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.name {
  text-align: center;
}
.avatar {
  width: 160px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0;
}
h4 {
  margin: 0;
}
.contact {
  text-decoration: none;
}
.email {
  margin-left: 5px;
  margin-right: 5px;
}
.git {
  margin-left: 5px;
}
.email,
.git {
  color: #08c;
}
.line {
  width: 100%;
  border: 2px solid #d6d6d6;
}
.block {
  margin: 16px 0;
  font-size: inherit;
  padding: 0 15px;
}
.fourth-block {
  font-size: 14px;
}
.fifth-block {
  color: #5c5c5c;
}
.example {
  margin: 16px 0;
  font-size: inherit;
  padding: 0 15px;
  color: #5c5c5c;
  background-color: #f0f0f0;
  max-width: 100%;
}
.fun,
.keyword {
  color: #a71d5d;
}
.name-fun,
.method {
  color: #795da3;
}

.marks {
  color: #333;
}
.string {
  color: #183691;
}

.link {
  color: #08c;
  text-decoration: none;
}
.learn,
.level {
  font-size: 18px;
  color: #000;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.footerIconsImg {
  width: 50px;
}
